@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  height: 400px !important;
  width: 100% !important;
  z-index: 0 !important;
}


#streetview-container {
  z-index: 1001 !important;
  position: relative;
}
